---
layout: default
---

<div id="404-error">
    <h1>Error 404 - Content not found!</h1>
    <p>
        You accessed a content that don't exists!<br>
        to exit this error, press button below or back to pages from navigation bar!
    </p>
    <div id="extra-resad">
        <p>
            if you access to "https://noteswiper.github.io/wiki-tr/{ translated-pagename }" to watch,<br>
            access new page here! => <button class="interTo" onclick="buttonred()">Access New Page</button>
        </p>
    </div>
    <button onclick="history.back();" name="Back to Previous page">Back to previous page you access</button>
</div>